{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "globals": {
    "web3": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-undef": ["error", { "typeof": false }],
    "no-underscore-dangle": ["warn", { "allowAfterThis": true }],
    "no-useless-constructor": "off",
    "no-confusing-arrow": "warn",
    "no-param-reassign": "warn",
    "no-return-assign": "warn",
    "eqeqeq": "warn",
    "max-len": "warn",
    "quote-props": "warn",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "no-nested-ternary": "warn",
    "linebreak-style": "off",
    "comma-dangle": ["warn", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": ["error", { "ignorePureComponents": true }]
  }
}